<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1300px"},"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem","left":"0","right":"0"}}}} -->
<main class="wp-block-group" style="padding-top:3rem;padding-bottom:3rem;padding-left:0;padding-right:0">
  <!-- wp:haunted-tech/single-webnovel /-->
  <!-- wp:haunted-tech/also-by-webnovels /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
