<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1200px"},"style":{"spacing":{"padding":{"top":"5rem","bottom":"5rem","left":"2rem","right":"2rem"}}}} -->
<main class="wp-block-group" style="padding-top:5rem;padding-bottom:5rem;padding-left:2rem;padding-right:2rem">
  <!-- wp:haunted-tech/single-webnovel /-->

  <!-- wp:group {"style":{"spacing":{"margin":{"top":"4rem"}}}} -->
  <div class="wp-block-group" style="margin-top:4rem">
    <!-- wp:post-content /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
